@import url('https://fonts.googleapis.com/css2?family=Recursive&display=swap');

body{
    font-family: 'Recursive', sans-serif;
   
}

.main{
    margin-bottom: 30px;
    display: block;
    text-align: center;
}
#first{
    background-color: blueviolet;
}

#submit{
    margin: 5px;
    float: right; 
    border-radius: 20px;
}

form{
    margin: 5px;
}

.header{
    margin: 40px;
    display: block;
    text-align: center;
    
}

.header h1{
    font-size: 3.5rem !important;
 
}
footer {
    position: absolute;
    bottom: 20px;
    width: 80vw;
    display: flex;
    justify-content: center;
}

.box{
    min-height: 80vh;
    width: 100%;
    border-radius: 25px;
    background-color:#95a5a6;
    padding: 2rem;
}

#input{
    border: none;
    background-color: transparent;
    border-bottom: 2px solid #000;
    border-radius: 0;
}

#input:focus {
    box-shadow: none !important;
}

.adds ul li{
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.adds ul li button{
    margin-left: auto;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    color: #2c3e50;
    background-color: #84817a;
    border-color: #84817a;
}

#background {
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}